<div id="relationship-show">
	<div id="relationship-header">
		<button {{ action destroyRelationship content }} 
            class="btn btn-danger relationship-remove"> 
            Remove 
        </button>
        {{#if hasAvailablePortfolios}}
            <button {{ action addToPortfolio content }} {{bind-attr disabled="controller.isEditing"}} class="btn btn-warning">
                Add To Portfolio 
            </button>
            {{ view Shepherd.Select2 
                 viewName="addToPortfolio"
                 prompt="Portfolio"
                 contentBinding="controller.availablePortfolios" 
                 optionLabelPath="content.name"
                 optionValuePath="content.id"
                 selectionBinding="controller.portfolioToAddTo"
            }}
        {{/if}}
        {{#link-to 'relationship.index' id="relationship-close"}} close {{/link-to}}
	</div>
	<div id="relationship-asset">
		{{ render "assetEdit" content.asset }}
	</div>
</div>
