<div class="asset-details">
	<div class="asset-details-header">
		<h2>{{ name }}</h2>
    </div>
    <div class="asset-details-image">
        {{ render "assetImage" content.links }}
        <div>({{ filename }})</div>
        <div>
            In Portfolios: {{ portfolioListString }}
        </div>
    </div>

    {{ view Vilio.AssetMetadataView 
        contentBinding="content.metadata"
        controllerBinding=controller
    }}
    <div class="asset-actions">
        <button {{ action download content }} {{bindAttr disabled="controller.isEditing"}} class="btn"> Download </button> 
        <button {{ action edit content }} {{bindAttr disabled="controller.isEditing"}} class="btn btn-warning"> 
            {{#if controller.isEditing}} Editing {{/if}}
            {{#unless controller.isEditing}} Edit {{/unless}}
        </button>
        {{#if controller.isEditing}}
            <button {{ action save content }} {{bindAttr disabled="metadataForEditing.isNew"}} class="btn btn-success"> Save </button>
            <button {{ action stopEditing }} class="btn btn-warning"> Stop Editing </button>
        {{/if}}
    </div>
</div>
