{{#each metadatum in metadataForEditing}}
    <div class="asset-metadatum">
       <label>{{metadatum.metadatum.metadatumField.name}}</label>
       {{#if isEditing}}
          <div class="asset-metadatum-value-edit">
             {{#if metadatum.isText}}
                {{#if metadatum.metadatum.metadatumField.allowedValuesList}}
                      {{ view Vilio.Select2 
  		                  prompt="Please select a value"
                          contentBinding="metadatum.metadatumValues" 
                          selectionBinding="metadatum.metadatum.metadatumValue"
                          width="160px"
                          disabledBinding="content.isSaving" 
                      }}
                {{else}}
                      {{ view Vilio.TextField
           	   	       valueBinding="metadatum.metadatum.metadatumValue" 
                       disabledBinding="content.isSaving" 
                      }}
                {{/if}}
             {{/if}}
             {{#if metadatum.isBoolean}}
                 {{ view Vilio.Checkbox
                    checkedBinding="metadatum.metadatum.metadatumValue"
                    disabledBinding="content.isSaving" 
                 }}
             {{/if}}
          </div>
        {{else}}
           <div class="asset-metadatum-value">
              {{#if metadatum.metadatum.metadatumValue}}
                  {{metadatum.metadatum.metadatumValue}}
              {{else}}
                  --
              {{/if}}
            </div>
        {{/if}}
    </div>
{{/each}}
