<div class="asset-details">
	<div class="asset-details-header">
		<h3>{{ name }} ({{ filename }})</h3>
		<button {{ action editAsset content }} class="btn btn-warning"> Edit </button>
		<button {{ action removeRelationship content }} class="btn btn-danger"> Remove </button>
		<a href="#" {{ action close target="view" }}>close</a>
	</div>
</div>