<div class="form-horizontal">
	<fieldset>
		{{#if content.isNew }}
			<legend>Create Metadata Field</legend>
		{{else}}
    		<legend>Edit "{{ content.name }}" Field</legend>    		
    	{{/if }}
        {{#unless content.isValid}}
            <div class="error">Error saving record
                {{#if content.errors.id}}
                    {{content.errors.id}}
                {{/if}}
            </div>
        {{/unless}}
    	{{#unless content.isNew }}
    		<div class="control-group">
	    		<label class="control-label">Metadata Field URI</label>
    			<label class="data-label">{{ uri }}</label>
	    	</div>
    	{{/unless}}
    	<div class="control-group">
    		<label class="control-label">Field Name</label>
    		<div class="controls">
				{{ view Vilio.TextField viewName="fieldName" 
 					   valueBinding="name" disabledBinding="view.isDisabled" 
 				   		required="" autofocus="" }}
    		</div>
            <label class="error">
               {{#if content.errors}}
                    {{content.errors.name}}
               {{/if}}
            </label>
    	</div>
    	<div class="control-group">
    		<label class="control-label">Description</label>
    		<div class="controls">
   				{{ view Ember.TextArea viewName="fDescriptionTextArea" 
   				   valueBinding="content.description" disabledBinding="content.isSaving" }}
    		</div>
            <label class="error">
               {{#if content.errors}}
                    {{content.errors.description}}
               {{/if}}
            </label>
    	</div>
        <div class="control-group">
    		<label class="control-label">Type</label>
    		<div class="controls">
                {{ view Vilio.Select2 
                      viewName="fieldTypeSelect2"
		              prompt="Please select a field type"
                      contentBinding="controller.fieldTypes" 
                      selectionBinding="content.type"
                      required="" }}
    		</div>
            <label class="error">
               {{#if content.errors}}
                    {{content.errors.type}}
               {{/if}}
            </label>
    	</div>
        <div class="control-group">
    		<label class="control-label">Values List</label>
    		<div class="controls">
                {{ view Vilio.Select2 
                      viewName="fieldValueSelect2"
		              prompt="Please select a value list"
                      contentBinding="controller.fieldValuesLists" 
                      optionLabelPath="content.name"
                      optionValuePath="content.id"
                      selectionBinding="content.allowedValuesList"
                      required="" }}
    		</div>
           <label class="error">
               {{#if content.errors}}
                    {{content.errors.allowedValuesList}}
               {{/if}}
            </label>
    	</div>
    	{{#unless content.isNew }}
	    	<div class="control-group">
	    		<label class="control-label">Created On</label>
	    		<label class="data-label">{{ content.createdAt }}</label>
	    	</div>
	    	<div class="control-group">
	    		<label class="control-label">Updated On</label>
	    		<label class="data-label">{{ content.updatedAt }}</label>
	    	</div>
    	{{/unless}}
    	<div class="control-group button-group-edit">
    		<button {{ action save content disabledBinding="content.isDirty" }} 
    			class="btn btn-success"> Save </button>
			<button {{ action cancel content disabledBinding="content.isSaving" }} 
				class="btn btn-warning"> Cancel </button>
            {{#unless content.isNew}}
				<button {{ action remove content disabledBinding="content.isSaving" }} 
					class="btn btn-danger"> Delete </button>					
			{{/unless}}

     	</div>
    </fieldset>
</div>
