  <div class="form-horizontal">
    <div class="form-title">{{name}} Metadata Values List</div>
    <div class="form-display-property-group">
      <label class="control-label">List URL: </label>
      <label class="data-label">{{uri}}</label>
    </div>
    <div class="form-display-property-group">
      <label class="control-label">List Name: </label>
      <label class="data-label">{{name}}</label>
    </div>
    <div class="form-display-property-group">
      <label class="control-label">Description: </label>
      <label class="data-label">{{description}}</label>
    </div>
    <div class="form-display-property-group">
      <label class="control-label">List Values: </label>
      {{#each metadata_list_values}}
          <label class="data-label">{{value}}</label>
      {{/each}}
    </div>
   	<div class="control-group button-group-show">
   		<button {{ action edit content disabledBinding="content.isDirty" }} 
    			class="btn btn-success"> Edit </button>
    </div>	
</div>
