  <div class="form-horizontal">
    <legend>{{name}} Field</legend>
    <div class="form-display-property-group">
	  <label class="control-label">Metadata Field URI</label>
      <label class="data-label">{{ uri }}</label>
	</div>
    <div class="form-display-property-group">
      <label class="control-label">Field Name: </label>
      <label class="data-label">{{name}}</label>
    </div>
    <div class="form-display-property-group">
      <label class="control-label">Description: </label>
      <label class="data-label">{{description}}</label>
    </div>
    <div class="form-display-property-group">
      <label class="control-label">Type: </label>
      <label class="data-label">{{type}}</label>
    </div>
     <div class="form-display-property-group">
      <label class="control-label">Values List: </label>
      {{#if allowedValuesList }}
        <label class="data-label">{{allowedValuesList.name}}</label>
      {{else}}
         <label class="data-label"> -- </label>
      {{/if}}
    </div>
   	<div class="control-group button-group-show">
   		<button {{ action edit content disabledBinding="content.isDirty" }} 
    			class="btn btn-success"> Edit </button>
    </div>	
</div>
