<div class="form-horizontal">
	<fieldset>
		{{#if content.isNew }}
			<legend>Create Metadata Field</legend>
		{{else}}
    		<legend>Edit "{{ content.name }}" Field</legend>    		
    	{{/if }}
    	{{#unless content.isNew }}
    		<div class="control-group">
	    		<label class="control-label">Metadata Field URI</label>
    			<label class="data-label">{{ uri }}</label>
	    	</div>
    	{{/unless}}
    	<div class="control-group">
    		<label class="control-label">Field Name</label>
    		<div class="controls">
				{{ view Vilio.TextField viewName="fieldName" 
 					   valueBinding="name" disabledBinding="view.isDisabled" 
 				   		required="" autofocus="" }}
    		</div>
    	</div>
    	<div class="control-group">
    		<label class="control-label">Description</label>
    		<div class="controls">
   				{{ view Ember.TextArea viewName="fDescriptionTextArea" 
   				   valueBinding="content.description" disabledBinding="content.isSaving" }}
    		</div>
    	</div>
        <div class="control-group">
    		<label class="control-label">Type</label>
    		<div class="controls">
                {{ view Vilio.Select2 
                      viewName="fieldTypeSelect2"
		              placeholderText="Please select a field type"
                      contentBinding="controller.fieldTypes" 
                      selectionBinding="content.type"
                      required="" }}
    		</div>
    	</div>
        <div class="control-group">
    		<label class="control-label">Values List</label>
    		<div class="controls">
                {{ view Vilio.Select2 
                      viewName="fieldValueSelect2"
		              placeholderText="Please select a value list"
                      contentBinding="controller.fieldValuesLists" 
                      optionLabelPath="content.name"
                      optionValuePath="content.id"
                      selectionBinding="content.allowedValuesList"
                      required="" }}
    		</div>
    	</div>
    	{{#unless content.isNew }}
	    	<div class="control-group">
	    		<label class="control-label">Created On</label>
	    		<label class="data-label">{{ content.created_at }}</label>
	    	</div>
	    	<div class="control-group">
	    		<label class="control-label">Updated On</label>
	    		<label class="data-label">{{ content.updated_at }}</label>
	    	</div>
    	{{/unless}}
    	<div class="control-group button-group">
    		<button {{ action save content disabledBinding="content.isDirty" }} 
    			class="btn btn-success"> Save </button>
			<button {{ action cancel content disabledBinding="content.isSaving" }} 
				class="btn btn-warning"> Cancel </button>
     	</div>
    </fieldset>
</div>
