<div class="form-horizontal">
	<fieldset>
		{{#if content.isNew }}
			<legend>Create Metadata Template</legend>
		{{else}}
    		<legend>Edit "{{ content.name }}" Template</legend>    		
    	{{/if }}
        {{#unless content.isValid}}
            <div class="error">Error saving record
                {{#if content.errors.id}}
                    {{content.errors.id}}
                {{/if}}
            </div>
        {{/unless}}
    	{{#unless content.isNew }}
    		<div class="control-group">
	    		<label class="control-label">Template URI</label>
    			<label class="data-label">{{ uri }}</label>
	    	</div>
    	{{/unless}}
    	<div class="control-group">
    		<label class="control-label">Template Name</label>
    		<div class="controls">
				{{ view Vilio.TextField viewName="fieldName" 
 					   valueBinding="name" disabledBinding="view.isDisabled" 
 				   		required="" autofocus="" }}
    		</div>
            <label class="error">
               {{#if content.errors}}
                    {{content.errors.name}}
               {{/if}}
            </label>
    	</div>
        <div class="control-group">
    		<label class="control-label">Description</label>
    		<div class="controls">
   				{{ view Ember.TextArea viewName="fDescriptionTextArea" 
   				   valueBinding="content.description" disabledBinding="content.isSaving" }}
    		</div>
            <label class="error">
               {{#if content.errors}}
                    {{content.errors.description}}
               {{/if}}
            </label>
    	</div>
        <div id="control-group">
        <div id="template-field-selection">
          <div id="available-fields-list">
            {{#each unselectedFields}}
              {{#view Vilio.FieldDraggableView contentBinding="this" 
                    class="field-selection"}}
                {{name}}
              {{/view}}
            {{/each}}
          </div>
          {{#view Vilio.FieldsListView id="template-fields-list"}}
              <div><span>Template Fields</span></div>
              {{#each orderedFieldSettings}}
                  <div class="field-setting-edit">
                    <span class="field-name"
                     {{field.name}}
                    </span>
                    <span class="required-edit">
                      Required? :
                      {{view Ember.Checkbox checkedBinding="required"}} 
                    </span>
                    <div class="field-setting-actions">
                      <div class="field-setting-action" {{ action promote this }} >+</div>
                      <div class="field-setting-action" {{ action demote this }} >-</div>
                    </div>
                  </div>
              {{/each}}
          {{/view}}
        </div>
        </div>
        {{#unless content.isNew }}
	    	<div class="control-group">
	    		<label class="control-label">Created On</label>
	    		<label class="data-label">{{ content.createdAt }}</label>
	    	</div>
	    	<div class="control-group">
	    		<label class="control-label">Updated On</label>
	    		<label class="data-label">{{ content.updatedAt }}</label>
	    	</div>
    	{{/unless}}
    	<div class="control-group button-group-edit">
    		<button {{ action save content disabledBinding="content.isDirty" }} 
    			class="btn btn-success"> Save </button>
			<button {{ action cancel content disabledBinding="content.isSaving" }} 
				class="btn btn-warning"> Cancel </button>
            {{#unless content.isNew}}
				<button {{ action remove content disabledBinding="content.isSaving" }} 
					class="btn btn-danger"> Delete </button>					
			{{/unless}}

     	</div>
    </fieldset>
</div>
