<div class="form-horizontal">
		<fieldset>
			{{#if content.isNew }}
				<legend>Create Portfolio</legend>
			{{else}}
	    		<legend>Edit "{{ content.name }}" Portfolio</legend>    		
	    	{{/if }}
            {{#unless content.isValid}}
              <div class="error">Error saving record
                  {{#if content.errors.id}}
                      {{content.errors.id}}
                  {{/if}}
              </div>
            {{/unless}}
	    	{{#unless content.isNew }}
	    		<div class="control-group">
		    		<label class="control-label">Portfolio URI</label>
	    			<label class="data-label">{{ uri }}</label>
		    	</div>
	    	{{/unless}}
	    	<div class="control-group">
	    		<label class="control-label">Portfolio Name</label>
	    		<div class="controls">
   					{{ view Vilio.TextField viewName="portName" 
   					   valueBinding="name" disabledBinding="view.isDisabled" 
   				   		required="" autofocus="" }}
	    		</div>
                <label class="error">
                  {{#if content.errors}}
                    {{content.errors.name}}
                  {{/if}}
                </label>
	    	</div>
	    	<div class="control-group">
	    		<label class="control-label">Description</label>
	    		<div class="controls">
	   				{{ view Ember.TextArea viewName="pDescriptionTextArea" 
	   				   valueBinding="content.description" disabledBinding="content.isSaving" }}
	    		</div>
                <label class="error">
                   {{#if content.errors}}
                      {{content.errors.description}}
                   {{/if}}
                </label>
	    	</div>
            <div class="control-group">
                <label class="control-label">Metadata Template</label>
                <div class="controls">
                    {{ view Vilio.Select2 
                          viewName="metadataTemplateSelect2"
                          prompt="Please select a metadata template"
                          contentBinding="controller.metadataTemplates" 
                          optionLabelPath="content.name"
                          optionValuePath="content.id"
                          selectionBinding="content.metadataTemplate"
                          required="" }}
                </div>
              <label class="error">
                  {{#if content.errors}}
                        {{content.errors.metadataTemplate}}
                  {{/if}}
                </label>
            </div>

	    	{{#unless content.isNew }}
		    	<div class="control-group">
		    		<label class="control-label">Created On</label>
		    		<label class="data-label">{{ content.createdAt }}</label>
		    	</div>
		    	<div class="control-group">
		    		<label class="control-label">Updated On</label>
		    		<label class="data-label">{{ content.updatedAt }}</label>
		    	</div>
	    	{{/unless}}
	    	<div class="control-group button-group-edit">
              {{#view Vilio.SaveButton }} Save {{/view}}
              {{#view Vilio.CancelButton }} Cancel {{/view}}
              {{#unless content.isNew}}
                 {{#view Vilio.DeleteButton }} Delete {{/view}}
			  {{/unless}}
	    	</div>
	    </fieldset>
	</div>
