<!DOCTYPE html>
<html>
	<head>
		<title>LuxinDAM Client</title>
		<script type='application/javascript'>
			auth_token = "<%= params[:auth_token] %>";
		</script>		
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>

	</body>
</html>
