<!DOCTYPE html>
<html>
	<head>
		<title>LuxinDAM Client</title>
		<script type='application/javascript'>
			auth_token = "<%= params[:auth_token] %>";
        	ENV = {
        	    EXPERIMENTAL_CONTROL_HELPER: true
	        };
		</script>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script type='application/javascript'>
			Luxin.CONFIG = {
				url : "http://localhost:4444"
			}
		</script>
	</head>
	<body>
		<%= yield %>
		<div id="loading">
			<div class="floater">
			</div>
			<div class="modal-dialog">
				<span class="dialog-message">Loading Vilio...</span>
			</div>
		</div>
		<div id="loading-overlay" class="overlay"></div>
	</body>
</html>
