<!DOCTYPE html>
<html>
	<head>
		<title>ShepherdDAM Client</title>
		<script type='application/javascript'>
			auth_token = "<%= params[:auth_token] %>";
			shepherd_rest_url = '<%= api_path %>';
        	ENV = {
        	    EXPERIMENTAL_CONTROL_HELPER: true
	        };
		</script>
		<%= stylesheet_link_tag    "application" %>
	    <%= javascript_include_tag "jquery" %>
	    <%= javascript_include_tag "ember" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
		<div id="loading">
			<div class="floater">
			</div>
			<div class="dialog-loading">
				<div class="dialog-message absolute-center">Loading Shepherd...</div>
			</div>
		</div>
		<div id="loading-overlay" class="overlay"></div>
	</body>
</html>
