<!DOCTYPE html>
<html>
	<head>
		<title>ShepherdDAM Client</title>
		<script type='application/javascript'>
			auth_token = "<%= params[:auth_token] %>";
        	ENV = {
        	    EXPERIMENTAL_CONTROL_HELPER: true
	        };
		</script>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script type='application/javascript'>
			Shepherd.CONFIG = {
				url : '<%= api_path %>'
			}
		</script>
	</head>
	<body>
		<%= yield %>
		<div id="loading">
			<div class="floater">
			</div>
			<div class="dialog-loading">
				<div class="dialog-message">Loading Shepherd...</div>
			</div>
		</div>
		<div id="loading-overlay" class="overlay"></div>
	</body>
</html>
